@model List<Book>


@{
    ViewData["title"] = "IndexLib";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>LIBRARY</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form>
    <input type="text" id="searchInput" placeholder="Enter book title or author">
</form>

<div id="searchResultsContainer">
    <table class="table">
        <thead>
            <tr class="table-dark">
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.AuthorName @book.AuthorSurname</td>
                    <td>@book.ReleaseDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Include jQuery and the JavaScript code for AJAX search -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#searchInput').on('input', function () {
            var searchTerm = $(this).val();

            $.ajax({
                url: '/Books/SearchBooks',
                type: 'GET',
                cache: false,
                data: { searchTerm: searchTerm },
                success: function (result) {
                    $('#searchResultsContainer').html(result);
                }
            });
        });
    });
</script>