@model List<Event>
@{
    ViewData["Title"] = "Library";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center mt-4">
    <div class="jumbotron">
        <h1>Welcome to the Library</h1>
        <p>Explore our vast collection of books</p>
        <a class="btn btn-primary btn-lg" asp-controller="Books" asp-action="IndexLib">Browse Books</a>
        @if (User.IsInRole("Admin"))
        {
            <a class="btn btn-primary btn-lg" asp-controller="Event" asp-action="CreateEvent">Create Event</a>
        }
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Upcoming Events</h2>
            <div class="card-deck">
                @Html.Partial("ShowEventList", Model)
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h2>About Us</h2>
            <p>Welcome to MyLovelyLib! We're dedicated to enriching lives through knowledge and learning.</p>
            <p>Our library is a haven for book lovers, offering a diverse collection of reading materials and digital resources.</p>
            <p>We strive to foster a love for reading, promote literacy, and serve as a hub for community engagement and lifelong education.</p>
        </div>
        <div class="col-md-6">
            <h2>Contact Us</h2>
            <p>12 Podgorna, Poznan, Poland</p>
            <p>Email: noreplymylovelylib@gmail.com</p>
            <p>Phone: +48 57 38 1 1762</p>
            <p>Opening Hours: Monday to Friday, 9:00 AM - 6:00 PM</p>
        </div>
    </div>
</div>

