@{
    ViewData["Title"] = "Home Page";
}
<div id="bg-img-index">
</div>
<div class="my-card">
        <h4 class="card-header">SasSAssasdasd</h4>
    <p class="card-text">aLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo justo at mauris tincidunt, eu interdum tellus aliquam. Nulla facilisi. Vivamus in lectus auctor, posuere enim vitae, fermentum magna. Morbi accumsan, velit at tristique consectetur, ipsum leo malesuada arcu, ac mattis metus tellus eu lectus. Aliquam vitae ullamcorper urna. Donec sed iaculis mi. Quisque sagittis neque felis, id feugiat tortor aliquam nec. Maecenas sagittis metus ut nunc mollis aliquam. Fusce aliquam turpis eu sapien feugiat, a fringilla enim luctus. Sed vitae est sit amet ligula fringilla pharetra.</p>
</div>
<div class="my-card" id="my-margin-top">
        <h4 class="card-header">SasSAssasdasd</h4>
    <p class="card-text">aLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo justo at mauris tincidunt, eu interdum tellus aliquam. Nulla facilisi. Vivamus in lectus auctor, posuere enim vitae, fermentum magna. Morbi accumsan, velit at tristique consectetur, ipsum leo malesuada arcu, ac mattis metus tellus eu lectus. Aliquam vitae ullamcorper urna. Donec sed iaculis mi. Quisque sagittis neque felis, id feugiat tortor aliquam nec. Maecenas sagittis metus ut nunc mollis aliquam. Fusce aliquam turpis eu sapien feugiat, a fringilla enim luctus. Sed vitae est sit amet ligula fringilla pharetra.</p>
</div>
