@{
    ViewData["Title"] = "Library";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center mt-4">
    <div class="jumbotron">
        <h1>Welcome to the Library</h1>
        <p>Explore our vast collection of books</p>
        <a class="btn btn-primary btn-lg" asp-controller="Books" asp-action="IndexLib">Browse Books</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Upcoming Events</h2>
            <div class="card-deck">
                <div class="card mb-4">
                    @*<img class="card-img-top" src="/images/event1.jpg" alt="Event 1">*@
                    <div class="card-body">
                        <h5 class="card-title">Book Discussion: "The Great Gatsby"</h5>
                        <p class="card-text">Join us for a lively book discussion on F. Scott Fitzgerald's classic novel "The Great Gatsby." Date: [Date], Time: [Time].</p>
                    </div>
                </div>
                <div class="card mb-4">
                    @*<img class="card-img-top" src="/images/event2.jpg" alt="Event 2">*@
                    <div class="card-body">
                        <h5 class="card-title">Children's Storytime</h5>
                        <p class="card-text">Bring your little ones for an enchanting storytime session filled with exciting tales and interactive activities. Date: [Date], Time: [Time].</p>
                    </div>
                </div>
                <div class="card mb-4">
                    @*<img class="card-img-top" src="/images/event3.jpg" alt="Event 3">*@
                    <div class="card-body">
                        <h5 class="card-title">Author Visit: [Author Name]</h5>
                        <p class="card-text">Meet acclaimed author [Author Name] as they discuss their latest book and share insights into their writing process. Date: [Date], Time: [Time].</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut felis at magna sagittis dapibus. Curabitur eget quam mauris.</p>
            <p>In our library, we strive to provide a diverse range of books covering various genres and subjects. Our collection includes both fiction and non-fiction books, catering to readers of all ages and interests.</p>
            <p>Whether you are looking for a thrilling novel, a thought-provoking essay, or educational material, our library has something for everyone. Visit us today to embark on a literary journey.</p>
        </div>
        <div class="col-md-6">
            <h2>Contact Us</h2>
            <p>123 Library Street, City, Country</p>
            <p>Email: info@library.com</p>
            <p>Phone: +1 123-456-7890</p>
            <p>Opening Hours: Monday to Friday, 9:00 AM - 6:00 PM</p>
        </div>
    </div>
</div>

